/**************** 메인 ****************/

/****************** 왼쪽 ******************/

.column-left {
    width: 750px;
}

/************* 뉴스영역 *************/

/******* 상단 좌측 *******/
.sc-news {
    margin-top: 12px;
}

.sc-news .group-issue {
    display: flex;
    justify-content: space-between;
    font-size: 13px;

    position: relative;
    padding: 12px 15px 11px 15px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    line-height: 24px;

}

.sc-news .group-issue .issue-area {
    display: flex;
}

.sc-news .group-issue .link-media {
    font-weight: bold;
    max-width: 89px;
    /* padding-right: 12px; */
    /* margin-right: 7px; */
    font-size: 13px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: -.3px;
}

.sc-news .group-issue .link-media::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 10px;
    background-position: -444px -380px;
    margin: 0 6px;
}

/******* 상단 우측 *******/
.sc-news .group-issue .direct-area {
    display: flex;
    font-weight: bold;
    letter-spacing: -.2px;
}

.sc-news .group-issue .link-home {
    color: #3565c9;

}

.sc-news .group-issue .link-home::after {
    content: '';
    width: 3px;
    height: 3px;
    background: #ccc;
    display: inline-block;
    border-radius: 50%;
    vertical-align: 3px;
    margin-left: 8px;
}

.sc-news .group-issue .link-direct {
    margin: 0 4px 0 7px;
}


/******* 중간 - 뉴스스탠드 *******/
.sc-news .group-title {
    display: flex;
    justify-content: space-between;
    padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px;

}

.sc-news .group-title .link-title::before {
    display: inline-block;
    width: 27px;
    height: 24px;
    background-position: -336px -345px;
    content: '';
    margin: -6px 1px 0 0;
    vertical-align: top;
}

.sc-news .group-title .link-title {
    color: #000;
    font-weight: 700;
    letter-spacing: -.2px;
}

.sc-news .group-title .link-title::after {
    display: inline-block;
    width: 7px;
    height: 11px;
    background-position: -444px -317px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 6px;
    vertical-align: -1px;
}

.sc-news .group-title .sort-area {
    margin-right: auto;
    margin-left: 10px;
}

.sc-news .group-title .sort-area {
    letter-spacing: -.2px;
}

.sc-news .group-title .btn-sort:last-child::before {
    background-color: #c7ccd1;
    display: inline-block;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 8px 0 4px;
    vertical-align: 3px;
}

.sc-news .group-title .btn-sort.active {
    font-weight: bold;
}

/******* 중간 우측 *******/
.sc-news .group-title .set-area {
    display: flex;
}

.sc-news .group-title .set-area>* {
    padding: 0 9px;
}

.sc-news .group-title .ic-list::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 13px;
    background-position: -49px -419px;
    vertical-align: top;
    opacity: .7;
}

.sc-news .group-title .ic-tile::after {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-position: -444px -19px;
    background-repeat: no-repeat;
    vertical-align: top;
}

.sc-news .group-title .ic-set::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: 0 -419px;
    background-repeat: no-repeat;
    vertical-align: top;
    opacity: .7;
    filter: alpha(opacity=70);
    margin: -1px 0 1px;
}

/******* 언론사 모음 *******/
.sc-news .group-media {
    position: relative;
    height: 260px;
    border: 1px solid #dae1e6;
}

.sc-news .group-media .media-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 65px);
}

.sc-news .group-media .media-item a {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.sc-news .group-media .media-item img {
    height: 20px;
}

.sc-news .vt-line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    background: #dae1e6;
}

.sc-news .vt-line.vt1 {
    left: 124px;
}

.sc-news .vt-line.vt2 {
    left: 248px;
}

.sc-news .vt-line.vt3 {
    left: 372px;
}

.sc-news .vt-line.vt4 {
    left: 497px;
}

.sc-news .vt-line.vt5 {
    left: 622px;
}

.sc-news .hr-line {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background: #dae1e6;
}

.sc-news .hr-line.hr1 {
    top: 65px;
}

.sc-news .hr-line.hr2 {
    top: 130px;
}

.sc-news .hr-line.hr3 {
    top: 195px;
}

/* 버튼 */
.sc-news .group-media .sp-bg {
    position: absolute;
    /* top: 50%;
    transform: translateY(-50%); */
    display: inline-block;
    width: 44px;
    height: 44px;
    z-index: 1;
    vertical-align: top;
    top: 109px;
}

.sc-news .group-media .btn-prev {

    background-position: 0 -299px;
    left: -28px;
}

.sc-news .group-media .btn-prev:hover {
    background-position: -46px -299px;
}

.sc-news .group-media .btn-next {
    background-position: -224px -158px;
    right: -14px;
}

.sc-news .group-media .btn-next:hover {

    background-position: -92px -299px;
}


/**************** 레시피 영역 ****************/

/********** 레시피 상단 ***********/

.sc-themecast {
    padding: 35px 0 27px;
    letter-spacing: -.25px;
}

.sc-themecast .group-title {
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
    /* padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px; */
}

.sc-themecast .title-area .title {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.sc-themecast .title-area .dsc {
    margin-left: 4px;
    color: grey;
}

.sc-themecast .info-area .info {
    color: grey;
}

.sc-themecast .info-area .info .new {
    color: #000;
    font-weight: bold;
}

.sc-themecast .group-title .info-area .btn-set {
    position: relative;
    margin-left: 14px;
    color: #505050;
}

.sc-themecast .group-title .info-area .btn-set:before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position: -444px -194px;
    vertical-align: top;
    margin-right: 4px;
    vertical-align: -1px;
    opacity: .7;
}

.sc-themecast .group-title .info-area .btn-set:after {
    position: absolute;
    top: 2px;
    left: -8px;
    content: '';
    width: 1px;
    height: 12px;
    background-color: #e4e8eb;
}

/* 카테고리 */

.sc-themecast .group-category .list-category-wrap {
    position: relative;
    background-color: #fff;
    /* overflow: hidden; */
}

.sc-themecast .group-category .list-category {
    display: flex;
    height: 50px;
    overflow: hidden;

}

.sc-themecast .group-category .list-category:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    border: 1px solid #dae1e6;
}

.sc-themecast .group-category .category-item {
    position: relative;
    display: inline-block;
    width: calc(100% / 8);
    z-index: 1;
    vertical-align: top;
}

.sc-themecast .group-category .theme-cate {
    display: block;
    border-right: 1px solid #dae1e6;
    font-size: 13px;
    line-height: 49px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.sc-themecast .group-category .tab.id-enter:hover {
    color: #e65da0;
}

.sc-themecast .group-category .tab.id-sports:hover {
    color: #0147b5;
}

.sc-themecast .group-category .tab.id-cargame:hover {
    color: #4a94e1;
}

.sc-themecast .group-category .tab.id-bboom:hover {
    color: #66c971;
}

.sc-themecast .group-category .tab.id-finance:hover {
    color: #35ae5e;
}

.sc-themecast .group-category .tab.id-myfeed:hover {
    color: #5290ff;
}

/* .sc-themecast .group-category .tab.id-living:hover {
    color: #ebaa00;
} */
.sc-themecast .group-category .tab.id-livinghome:hover {
    color: #c08d31;
}

.sc-themecast .group-category .tab.id-living {
    background-color: #ebaa00;
    color: #fff;
    /* position: relative; */
    margin: 0 -1px;
    border-radius: 1px;
    height: 50px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}

/* 추천, 구독 사이 */
.sc-themecast .group-category .ico-middot,
.sc-themecast .group-edit .ico-middot {
    width: 2px;
    height: 2px;
    display: inline-block;
    margin: 0 -2px;
    background-color: rgba(32, 32, 32, .8);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: 4px;
}

/* 버튼 */

.sc-themecast .group-category .btn-next {
    right: -18px;
}

.sc-themecast .group-category .sp-bg {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    z-index: 3;
    vertical-align: top;
    top: 6px;
}

.sc-themecast .group-category .btn-prev {
    background-position: -128px -345px;
    left: -23px;
}

.sc-themecast .group-category .btn-prev:hover {
    background-position: -44px -345px;
}

.sc-themecast .group-category .btn-next {
    background-position: -86px -345px;
    right: -18px;
}

.sc-themecast .group-category .btn-next:hover {
    background-position: -170px -345px;
}

/************ 테마 내용 ************/
.sc-themecast .theme-cont {
    padding-top: 4px;
}

.sc-themecast .group-topstory {
    display: flex;
    border-bottom: 1px solid #e4e8eb;
    padding: 18px 0;
}

.sc-themecast .topstory-inner {
    width: 364px;
}

.sc-themecast .topstory-view .topstory-thumb {
    overflow: hidden;
    display: block;
    position: relative;
    width: 364px;
    height: 180px;
}

.sc-themecast .topstory-inner img {
    transition: transform .2s;
}

.sc-themecast .topstory-inner:hover img {
    transform: scale(1.05);
}

.sc-themecast .topstory-view .topstory-thumb .thumb-dim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
    filter: alpha(opacity=10);
    background-color: #000;
}

.sc-themecast .topstory-view .topstory-thumb .thumb-bd {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .06;
    filter: alpha(opacity=6);
    border: 1px solid #000;
}

.sc-themecast .ico-play {
    position: absolute;
    bottom: 9px;
    left: 12px;
}

.sc-themecast .ico-play::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 28px;
    background-position: 0 -389px;
    background-repeat: no-repeat;
    vertical-align: top;
}



.sc-themecast .theme-runtime {
    position: absolute;
    right: 8px;
    bottom: 6px;
    padding: 2px 4px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 11px;
    line-height: 14px;
    color: #fff;
}

.sc-themecast .topstory-view .theme-runtime {
    position: absolute;
    bottom: 8px;
    right: 10px;
    padding: 3px 6px;
    font-size: 12px;
}

.sc-themecast .theme-runtime .runtime-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    filter: alpha(opacity=70);
    background-color: #000;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: transparent;
}

.sc-themecast .theme-runtime .time {
    position: relative;
    z-index: 1;

}

/* 설명 부분 */
.sc-themecast .topstory-view .topstory-info {
    display: block;
    padding: 16px 18px 0 0;
    text-decoration: none;
}

.sc-themecast .topstory-info .theme-category,
.sc-themecast .theme-info .theme-category {
    color: #ebaa00;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-weight: 700;

}

.sc-themecast .topstory-view .topstory-info .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-top: 6px;
    font-size: 13px;
    font-weight: bold;
}

.sc-themecast .topstory-view .topstory-info .desc {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 42px;
    line-height: 21px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 5px;
    font-size: 13px;
    color: #404040;
}

.sc-themecast .topstory-view .topstory-info .source-area {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    margin-top: 4px;
    vertical-align: top;
}

.sc-themecast .topstory-view .topstory-info .source {
    overflow: hidden;
    display: block;
    color: #505050;
}

.sc-themecast .topstory-view .topstory-info .source-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.sc-themecast .topstory-inner+.topstory-inner {
    margin-left: 22px;
}

.sc-themecast .list-theme-wrap {
    padding: 18px 0;
}

.sc-themecast .list-theme .theme-item {
    overflow: hidden;
    position: relative;
}

.sc-themecast .list-theme .theme-item+.theme-item {
    margin-top: 18px;
}

.sc-themecast .list-theme .theme-thumb {
    width: 170px;
    height: 114px;
    overflow: hidden;
    float: left;
    display: block;
    position: relative;
    margin-right: 21px;
}

.sc-themecast .list-theme .theme-item img {
    transition: transform .2s;
}

.sc-themecast .list-theme .theme-item:hover img {
    transform: scale(1.05);
}

.sc-themecast .list-theme .theme-thumb .thumb-bd {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .06;
    filter: alpha(opacity=6);
    border: 1px solid #000;
}

.sc-themecast .list-theme .theme-info {
    overflow: hidden;
    display: block;
    padding: 4px 47px 0 0;
    text-decoration: none;
}

.sc-themecast .list-theme .title {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 3px;
    font-size: 13px;
}

.sc-themecast .list-theme .title.elss {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    height: auto;
    margin-top: 2px;
    color: #202020;
}

.sc-themecast .list-theme .desc {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 2px;
    font-size: 13px;
    color: #404040;
}

.sc-themecast .list-theme .source-box {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    margin-top: 2px;
    line-height: 20px;
    vertical-align: top;
    color: #505050;
}

.sc-themecast .list-theme .date {
    float: right;
    color: grey;
}

.sc-themecast .list-theme .date:before {
    background-color: grey;
    display: inline-block;
    width: 2px;
    height: 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 5px 0 6px;
    vertical-align: 3px;
}

.sc-themecast .source-box .source-inner {
    line-height: 20px;
}


/************ 중간 가로 ************/
.sc-themecast .group-theme+.group-theme {
    border-top: 1px solid #e4e8eb;
}

.sc-themecast .media-view-wrap.type-column {
    padding: 18px 0 17px;
}

.sc-themecast .flick-viewport {
    position: relative;
    z-index: 5;
    min-height: 100%;
    width: 100%;
    touch-action: pan-y;
    user-select: none;
    height: 240px;
}
.sc-themecast .flick-camera {
    width: 100%; 
    height: 100%; 
}
.sc-themecast .flick-panel {
    width: 750px; 
    position: absolute; 
    left: 0px;
}

.sc-themecast .media-view-wrap.type-column .media-view {
    margin: 0 -27px -31px 0;
    display: flex;
}

.sc-themecast .media-view-wrap.type-column .media-area {
    margin: 0 27px 31px 0;
}

.sc-themecast .media-view .media-thumb {
    width: 232px;
    height: 130px;
    overflow: hidden;
    display: block;
    position: relative;
}

.sc-themecast .media-view .media-area img,
.shop-wrap .list-goods-wrap .goods-area img {
    transition: transform .2s;
}

.sc-themecast .media-view .media-area:hover img,
.shop-wrap .list-goods-wrap .goods-area:hover img {
    transform: scale(1.05);
}

.sc-themecast .media-view .ico-play {
    position: absolute;
    bottom: 8px;
    left: 12px;
}

.sc-themecast .media-view .media-thumb .thumb-dim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
    filter: alpha(opacity=10);
    background-color: #000;
}

.sc-themecast .media-view .media-thumb .thumb-bd {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .06;
    filter: alpha(opacity=6);
    border: 1px solid #000;
}

.sc-themecast .media-view .media-info {
    display: block;
    padding-top: 12px;
}

.sc-themecast .media-view .info-box {
    overflow: hidden;
}

.sc-themecast .media-view .title {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 13px;
    font-weight: bold;
}

.sc-themecast .media-view .media-area:hover .title {
    text-decoration: underline;
}

.sc-themecast .media-view .source-wrap {
    display: inline-block;
    max-width: 100%;
    margin-top: 3px;
    vertical-align: top;
}

.sc-themecast .media-view .date,
.sc-themecast .media-view .dsc {
    float: right;
    color: grey;
}

.sc-themecast .media-view .date:before,
.sc-themecast .media-view .dsc:before {
    background-color: grey;
    display: inline-block;
    width: 2px;
    height: 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 5px;
    vertical-align: 3px;
}

.sc-themecast .media-view .source {
    overflow: hidden;
    display: block;
    color: #505050;
    line-height: 20px;
}

/*********** 하단 ***********/
.sc-themecast .theme-title {
    padding-top: 24px;
    line-height: 25px;
    display: block;
    font-size: 14px;
    color: #000;
    position: relative;
    font-weight: 700;
}

.sc-themecast .theme-title a.title {
    position: relative;
    font-weight: 700;
    /* float: left; */
    font-size: 14px;
    color: #000;
}

.sc-themecast .theme-title a.title:after {
    display: inline-block;
    width: 7px;
    height: 11px;
    background-position: -444px -304px;
    vertical-align: top;
    content: '';
    margin-left: 6px;
    vertical-align: 0;
}

.sc-themecast .theme-title:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
}

.sc-themecast .media-view-wrap.type-flick .media-view {
    padding: 18px 0 17px;
    display: flex;
}

.sc-themecast .media-view-wrap.type-flick .pm-btn-next::after {
    content: '';
    position: absolute;
    top: 66px;
    right: -13px;
    z-index: 999;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -86px -345px;
    vertical-align: top;
}

.sc-themecast .media-view-wrap.type-flick .pm-btn-next:hover::after {

    background-position: -170px -345px;
}

.sc-themecast .media-view .media-area {
    display: inline-block;
    width: 232px;
    font-size: 12px;
    line-height: 20px;
    vertical-align: top;
    text-decoration: none;
}

.sc-themecast .media-view-wrap.type-flick .media-area+.media-area {
    margin-left: 24px;
}

.sc-themecast .media-view .media-thumb {
    width: 232px;
    height: 130px;
    overflow: hidden;
    display: block;
    position: relative;
}

.sc-themecast .theme-badge {
    background-color: #ebaa00;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}

.sc-themecast .theme-badge .badge-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    height: 30px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
}

.sc-themecast .media-view .source-wrap {
    display: inline-block;
    max-width: 100%;
    margin-top: 3px;
    vertical-align: top;
}

.sc-themecast .theme-hl {
    color: #ebaa00;
}

.sc-themecast .media-view .source {
    overflow: hidden;
    display: block;
    color: #505050;
}

.sc-themecast .media-view .source-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

/* 새로운 글 더보기 */
.sc-themecast .btn-more-wrap {
    position: relative;
    padding-top: 18px;
    margin-bottom: 42px;
    border-bottom: 1px solid #e4e8eb;
}

.sc-themecast .btn-more-wrap .btn-more {
    position: absolute;
    top: 0;
    left: 334px;
    color: #505050;
    cursor: pointer;
}

/* .sc-themecast .btn-more-wrap .btn-more span {
    position: absolute;
    top: 40px;
} */
.sc-themecast .btn-more-wrap .btn-more::before {
    content: '';
    display: block;
    width: 42px;
    height: 42px;
    background-position: 0 -345px;
    margin: 0 auto 3px;
}



/****************** 오른쪽 ******************/
.column-right {
    width: 350px;
    position: relative;
    letter-spacing: -.2px;
}

/************* 로그인 창 *************/
.sc-login {
    padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
}

.sc-login .login-msg {
    padding-left: 3px;
    color: grey;
}

.sc-login .link-login{
    display: block;
    padding: 15px 0;
    margin-top: 11px;
    background-color: #19ce60;
    border: 1px solid #15c654;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.sc-login .link-login::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 12px;
    background-position: -138px -330px;
    vertical-align: top;
    margin: 2px 5px 0 0;
}

.sc-login .sub-area{
    display: flex;
    justify-content: center;
    margin: 14px 8px 0 4px;
    justify-content: space-between;
    color: #404040;
}

.sc-login .sub-area .look-box:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 14px;
    background-position: -444px -98px;
    vertical-align: top;
    margin: -1px 1px 1px;
}

.sc-login .sub-area .link-look+.link-look:before {
    content: '';
    background-color: #d7dce0;
    display: inline-block;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    margin: 0 5px 0 2px;
    vertical-align: 3px;
}

.sc-login .sub-area .link-join {
    color: #505050;
}

.sc-login .sub-area .link-join:before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position: -444px -129px;
    vertical-align: top;
    margin: 2px 5px 0 0;
}

/************** 사이드 뉴스 **************/

.sc-sidenews {
    position: relative;
    height: 47px;
    margin: 12px 0;
    border: 1px solid #dae1e6;
    letter-spacing: -.25px;
    padding-right: 67px;
}
.sc-sidenews .link-news{
    display: flex;
    padding: 14px 0 13px 16px;
    line-height: 20px;
}
.sc-sidenews .link-news .badge {

    height: 18px;
    padding: 0 7px;
    margin-right: 8px;
    border: 1px solid #202020;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 11px;
    line-height: 18px;
    color: #202020;
    font-weight: 700;
    vertical-align: top;
}
.sc-sidenews .link-news .news {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 13px;
    line-height: 20px;
    color: #404040;
}

.sc-sidenews .navi-wrap{
    position: absolute;
    top: 11px;
    right: 10px;
    display: flex;
}
.sc-sidenews .navi-wrap .btn-navi{
    background-color: #fff;
    border: 1px solid #e4e8eb;
}

.sc-sidenews .btn-navi.prev {
    margin-right: -1px;
}
.sc-sidenews .btn-navi.prev::after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -408px -74px;
    vertical-align: top;
    margin: 7px 8px 6px;
}
.sc-sidenews .btn-navi.prev:hover,
.sc-sidenews .btn-navi.next:hover {
    background-color: #fafbfc;
} 
.sc-sidenews .btn-navi.prev:hover::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -408px -63px;
    vertical-align: top;
}
.sc-sidenews .btn-navi.next::after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -451px -392px;
    vertical-align: top;
    margin: 7px 8px 6px;
}

.sc-sidenews .btn-navi.next:hover::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -444px -413px;
    vertical-align: top;
}


/*************** 쇼핑 캐스트 ***************/
.sc-shopcast {
    width: 350px;
    margin-top: 15px;
}
.sc-shopcast .shop-wrap {
    overflow: hidden;
    width: 350px;
    height: 1809px;
    background-color: #fff;
    letter-spacing: -.25px;
}
/************** 쇼핑 상단 **************/
.sc-shopcast .shop-header {
    padding: 12px 0 13px;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
}
.sc-shopcast .shop-header .link-shop {
    margin: 2px 0 0 1px;
    font-size: 13px;
    line-height: 17px;
    color: #000;
}
.sc-shopcast .shop-header .link-shop .ls-link{
    font-weight: bold;
}

.sc-shopcast .shop-header .link-shop .ls-link::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: -48px -77px;
    /* vertical-align: top; */
    margin-right: 4px;
    vertical-align: -3px;
}

.sc-shopcast .shop-header .link-shop .ls-link::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -65px -77px;
    margin-left: 7px;
    vertical-align: 0;
}

/* 탭메뉴 */
.sc-shopcast .shop-wrap .shop-tab {
    display: flex;
    font-size: 13px;
    font-weight: 700;
}

.sc-shopcast .shop-tab .tab:hover{
    text-decoration: none;
}

.sc-shopcast .shop-tab .tab[aria-selected=true] {
    border-bottom: 2px solid #19ce60;
    color: #03c75a;
}

.sc-shopcast .shop-tab .tab-item+.tab-item {
    margin-left: 11px;
}

.sc-shopcast .shop-tab .tab {
    display: block;
    padding: 0 1px;
    border-bottom: 2px solid transparent;
    color: #202020;
    text-decoration: none;
}

/********** 쇼핑 컨텐츠 **********/
.sc-shopcast .shop-wrap .shop-content {
    overflow: hidden;
    height: 1763px;
    border: 1px solid #e4e8eb;
}

/* 쇼핑몰 이름 */
.sc-shopcast .shop-wrap .group-mall {
    overflow: hidden;
    padding: 12px 4px 11px 10px;
    background-color: #f7f9fa;
    border-bottom: 1px solid #dae1e6;
}

.sc-shopcast .group-mall .link-mall {
    float: left;
    line-height: 23px;
    color: #404040;
}

.shop-wrap .group-mall .ls13 {
    margin: 10px 13px 0;
}

.shop-wrap .group-mall .ls12 {
    margin: 10px 12px 0;
}

.shop-wrap .group-mall .ls11 {
    margin: 10px 11px 0;
}

.shop-wrap .group-mall .ls10 {
    margin: 10px 10px 0;
}
/* .shop-wrap .group-mall [class^=ls]  */
.shop-wrap .group-mall .ls  {
    background-color: #c9cccf;
    /* display: inline-block; */
    float: left;
    width: 3px;
    height: 3px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
}

/* 상품 모음 */
.sc-shopcast .shop-wrap .group-goods {
    position: relative;
    padding: 55px 8px 20px;
}
/* 상단 번호 */
.sc-shopcast .shop-wrap .shop-control {
    text-align: right;
    top: 13px;
    right: 8px;
}
.shop-wrap .shop-control {
    display: flex;
    position: absolute;
    top: -8px;
    right: 0;
    text-align: right;
}
.shop-wrap .shop-control .num-box {
    line-height: 29px;
    color: grey;
}
.shop-wrap .shop-control .num-box .current {
    margin-right: 4px;
    color: #202020;
    font-weight: 700;
}
.shop-wrap .shop-control .btn-box {
    display: flex;
    overflow: hidden;
    margin-left: 7px;
}

.shop-wrap .shop-control .btn {
    background-color: #fff;
    border: 1px solid #dae1e6;
}

.shop-wrap .shop-control .btn:hover {
    background-color: #fafbfc;
    text-decoration: none;
}

.shop-wrap .shop-control .btn+.btn {
    margin-left: -1px;
}

.shop-wrap .shop-control .btn-prev::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -93px -77px;
    vertical-align: top;
    margin: 9px 12px 9px 10px;
}

.shop-wrap .shop-control .btn-prev:hover::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -86px -77px;
    vertical-align: top;
}

.shop-wrap .shop-control .btn-next:before {
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -79px -77px;
    vertical-align: top;
    content: '';
    margin: 9px 10px 9px 12px;
}

.shop-wrap .shop-control .btn-next:hover:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -72px -77px;
    vertical-align: top;
}

/* 상품 모음 */
.shop-wrap .list-goods-wrap {
    overflow: hidden;
}

.shop-wrap .group-goods .list-goods-wrap .list-goods {
    margin-top: -10px;
}
.shop-wrap .list-goods-wrap .list-goods {
    overflow: hidden;
    margin-right: -5px;
}

.shop-wrap .group-goods .list-goods-wrap .goods-item {
    margin-top: 10px;
}

.shop-wrap .list-goods-wrap .goods-item {
    float: left;
    width: 33.33%;
}

.shop-wrap .list-goods-wrap .goods-area {
    display: block;
    margin-right: 5px;
}

.shop-wrap .list-goods-wrap .thumb-box {
    overflow: hidden;
    position: relative;
}

.shop-wrap .list-goods-wrap .thumb-bd {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .08;
    filter: alpha(opacity=8);
    border: 1px solid #000;
}

.shop-wrap .group-goods .list-goods-wrap .title-box {
    margin-top: 5px;
}

.shop-wrap .list-goods-wrap .title:first-child {
    font-weight: 700;
}
.shop-wrap .list-goods-wrap .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 16px;
    text-align: center;
}

/* 하단 번호 */
.shop-wrap .shop-page {
    /* margin-top: 21px; */
    margin-top: 18px;
    text-align: center;
}

.shop-wrap .shop-page .btn {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #dae1e6;
    vertical-align: top;
}
.shop-wrap .shop-page .btn:hover {
    background-color: #fafbfc;
    text-decoration: none;
}
.shop-wrap .shop-page .btn-prev::before {
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -93px -77px;
    vertical-align: top;
    content: '';
    margin: 9px 12px 9px 10px;
}
.shop-wrap .shop-page .btn-prev:hover::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -86px -77px;
    vertical-align: top;
}

.shop-wrap .shop-page .num-box {
    display: inline-block;
    min-width: 61px;
    line-height: 29px;
    color: grey;
    text-align: center;
    vertical-align: top;
}
.shop-wrap .shop-page .num-box .current {
    margin-right: 4px;
    color: #202020;
    font-weight: 700;
}

.shop-wrap .shop-page .btn-next::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -79px -77px;
    vertical-align: top;
    margin: 9px 10px 9px 12px;
}
.shop-wrap .shop-page .btn-next:hover::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -72px -77px;
    vertical-align: top;
}

/* 쇼핑 뉴스 */
.shop-wrap .group-event {
    margin: 0 8px;
    padding: 19px 0 17px;
    border-top: 1px solid #e4e8eb;
}
.shop-wrap .group-event .shop-title {
    position: relative;
    padding-left: 5px;
}
.shop-wrap .group-event .shop-title .title {
    font-size: 13px;
}
.sc-shopcast .shop-wrap .group-event .shop-control {
    top: -6px;
    right: 0;
}

.sc-shopcast .shop-wrap .group-plus .shop-control {
    top: 14px;
    right: 0;
}
/* 내용 */
.shop-wrap .list-event {
    margin: 13px 5px 0;
    line-height: 28px;
}
.shop-wrap .list-event .event-area {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #202020;
}
.shop-wrap .list-event .event-area::before {
    content: '';
    background-color: #1ace61;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    /* vertical-align: top; */
    margin-right: 8px;
    vertical-align: 2px;
}
.shop-wrap .list-event .title {
    margin-right: 13px;
    color: #000;
    font-weight: 700;
}

/* 추가 추천 품목 */
.shop-wrap .group-plus {
    position: relative;
    padding: 55px 0 19px;
    margin: 0 8px;
    border-top: 1px solid #e4e8eb;
}
.shop-wrap .shop-category {
    position: absolute;
    top: 20px;
    left: 5px;
    /* 여백위해... */
    font-size: 0;
    line-height: 0;
}

.shop-wrap .shop-category .category {
    display: inline-block;
    vertical-align: 0;
    font-size: 13px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: -.5px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.shop-wrap .shop-category .category+.category {
    margin-left: 12px;
}

.shop-wrap .shop-category .category[aria-selected=true] {
    color: #03c75a;
    font-weight: 700;
    border-color: #19ce60;
}

.shop-wrap .list-goods-wrap {
    overflow: hidden;
}

.shop-wrap .list-goods-wrap .list-goods {
    /* overflow: hidden; */
    margin-right: -5px;
}
.shop-wrap .group-plus .list-goods-wrap .goods-item {
    width: 50%;
}
.shop-wrap .list-goods-wrap .goods-area {
    display: block;
    margin-right: 5px;
}

.shop-wrap .list-goods-wrap .thumb-box {
    overflow: hidden;
    position: relative;
}

.shop-wrap .group-plus .title-box {
    margin-top: 9px;
}

/* 원쁠딜 광고*/
.shop-wrap .group-plusdeal {
    padding-top: 16px;
    margin: 0 8px;
    border-top: 1px solid #e4e8eb;
}

.shop-wrap .group-plusdeal .shop-title {
    position: relative;
}

.shop-wrap .group-plusdeal .shop-title .title {
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
}

.shop-wrap .group-plusdeal .link-logo {
    display: inline-block;
    vertical-align: top;
}

.shop-wrap .group-plusdeal .link-logo::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 21px;
    background-position: 0 -54px;
    vertical-align: top;
    margin-right: 7px;
}

.sc-shopcast .shop-wrap .group-plusdeal .shop-control {
    top: -3px;
    right: 0;
}

/* 원쁠딜 내용 */
.shop-wrap .group-plusdeal .list-deal {
    margin-top: 20px;
}

.shop-wrap .group-plusdeal .deal-item+.deal-item {
    margin-top: 15px;
}
.shop-wrap .group-plusdeal .deal-area {
    display: flex;
    overflow: hidden;
}

.shop-wrap .group-plusdeal .deal-thumb {
    display: flex;
    margin-right: 10px;
}
.shop-wrap .group-plusdeal .thumb-box {
    position: relative;
    border-radius: 4px;
}
.shop-wrap .group-plusdeal .thumb-box>img {
    border-radius: inherit;
}
.shop-wrap .group-plusdeal .thumb-box:first-child {
    overflow: hidden;
}

.shop-wrap .group-plusdeal .thumb-bd {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .08;
    filter: alpha(opacity=8);
    border: 1px solid #000;
    border-radius: inherit;
}

.shop-wrap .group-plusdeal .ico-one-alpha {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 15px;
    background-position: -74px -54px;
    background-repeat: no-repeat;
    vertical-align: top;
}

.shop-wrap .group-plusdeal .ico-one-plus {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 15px;
    background-position: -42px -54px;
    vertical-align: top;
}

.shop-wrap .group-plusdeal .thumb-box {
    position: relative;
    float: left;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.shop-wrap .group-plusdeal .thumb-box+.thumb-box {
    margin-left: 10px;
}

.shop-wrap .group-plusdeal .thumb-box+.thumb-box:before {
    content: '';
    position: absolute;
    top: 20px;
    left: -15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -26px -77px;
    vertical-align: top;
    z-index: 1;
}

.shop-wrap .group-plusdeal .title-box {
    overflow: hidden;
    width: 167px;
}

.shop-wrap .group-plusdeal .title-box .title {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 34px;
    line-height: 17px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
}

.shop-wrap .group-plusdeal .price-wrap {
    margin-top: 5px;
    font-weight: 700;
}

.shop-wrap .group-plusdeal .price-wrap .discount {
    color: #f04045;
}

