.wrapper {
    min-width: 1190px;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}


/* sp - 구역

    ***** 여기서 개인행동 금지 (좌표를 준다던지,,)
    공용 기숙사
*/

.header .logo a::after,
.search-area .btn-submit::after,
.header .service-area > *::after,
.sc-news .group-issue .link-media::after,
.sc-news .group-title .set-area > *::after,
.sc-login .link-login::before,
.sc-sidenews .btn-navi::after
 {
    /* bg로만 쓰면 포지션 크기 힘들어서 소분해서쓰기 */
    background-image: url(../images/sp-img.png);
    background-repeat: no-repeat;
    background-size: 457px;
    /* 2배 줄임 사이즈 원래 2배 큼 */

}


.thumb-bd {
    position: relative;
    display: block;
}
.thumb-bd::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #000;
    opacity: .1;
}
.thumb-bd img{
    width: 100%;
}