/* 
    dpi
    도트 퍼 인치
    1인치 도트 100개 - pc, tv 50*50 
                        픽셀수가 100개가 필요해
    1인치 도트 1000개 - 모바일, 테블릿 50*50??
                        여기선 뿌옇게,,

    -> 해결책 : 이미지를 크게 주기
*/

.column-left {
    width: 750px;
}

.sc-news {
    margin-top: 12px;
}

.sc-news .group-issue{
    display: flex;
    justify-content: space-between;
    font-size: 13px;

    position: relative;
    padding: 12px 15px 11px 15px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    line-height: 24px;
}
.sc-news .group-issue .issue-area {
    display: flex;
    
}
.sc-news .group-issue .link-media {
    font-weight: bold;
}
.sc-news .group-issue .link-media::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 10px;
    background-position: -444px -380px;
    margin: 0 5px;
}
.sc-news .group-issue .link-issue {}
.sc-news .group-issue .direct-area {
    display: flex;
    font-weight: bold;
}
.sc-news .group-issue .link-home {
    color: #3565c9;
    /* color: var(--color-green); */
}
.sc-news .group-issue .link-home::after {
    content: '';
    width: 3px;height: 3px;
    background: #ccc;
    display: inline-block;
    border-radius: 50%;
    vertical-align: 3px;
    margin-left: 7px;
}
.sc-news .group-issue .link-direct {
    margin: 0 4px 0 7px;
}


.sc-news .group-title{
    display: flex;
    justify-content: space-between;
    padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px;
}

.sc-news .group-title .link-title{}
.sc-news .group-title .sort-area{
    margin-right: auto;/* 오른쪽 밀어버리기 */
}
.sc-news .group-title .btn-sort{
    
}
.sc-news .group-title .btn-sort.active {}

.sc-news .group-title .set-area{
    display: flex;
}
.sc-news .group-title .set-area > *{
    padding: 0 9px;
}
.sc-news .group-title .ic-list::after{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: 0 -419px;
    background-repeat: no-repeat;
    vertical-align: top;
    opacity: .7;
    filter: alpha(opacity=70);
    margin: -1px 0 1px
}
.sc-news .group-title .ic-tile::after{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: 0 -419px;
    background-repeat: no-repeat;
    vertical-align: top;
    opacity: .7;
    filter: alpha(opacity=70);
    margin: -1px 0 1px
}
.sc-news .group-title .ic-set::after{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: 0 -419px;
    background-repeat: no-repeat;
    vertical-align: top;
    opacity: .7;
    filter: alpha(opacity=70);
    margin: -1px 0 1px
}



.sc-news .group-media{
    position: relative;
    height: 260px;
    border: 1px solid #dae1e6;
}
.sc-news .group-media .media-list{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,65px);
}
.sc-news .group-media .media-item{}
.sc-news .group-media .media-item a{
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}
.sc-news .group-media .media-item img{
    height: 20px;
}


.sc-news .vt-line{
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    background: #dae1e6;
}
.sc-news .vt-line.vt1{left: 124px;}
.sc-news .vt-line.vt2{left: 248px;}
.sc-news .vt-line.vt3{left: 372px;}
.sc-news .vt-line.vt4{left: 497px;}
.sc-news .vt-line.vt5{left: 622px;}

.sc-news .hr-line{
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background: #dae1e6;
}

.sc-news .hr-line.hr1{top: 65px;}
.sc-news .hr-line.hr2{top: 130px;}
.sc-news .hr-line.hr3{top: 195px;}


.column-right {
    width: 350px;
}

.sc-login {
    padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
}
.sc-login .login-msg{
    padding-left: 3px;
    color: grey;
}
.sc-login .link-login{
    display: block;
    padding: 15px 0;
    margin-top: 11px;
    background-color: #19ce60;
    border: 1px solid #15c654;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.sc-login .link-login::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 12px;
    background-position: -138px -330px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 2px 5px 0 0;
}
.sc-login .sub-area{
    display: flex;
    justify-content: center;
    margin: 14px 8px 0 4px
}
.sc-login .link-id{}
.sc-login .link-find{
    margin-right: auto;
}
.sc-login .link-join{}


.sc-sidenews {
    position: relative;
    height: 47px;
    margin: 12px 0;
    border: 1px solid #dae1e6;
    letter-spacing: -.25px;
    padding-right: 67px;
}
.sc-sidenews .link-news{
    display: block;
    padding: 14px 0 13px 16px;
    line-height: 20px;
}
.sc-sidenews .link-news.badge{}
.sc-sidenews .link-news.news{}

.sc-sidenews .navi-wrap{
    position: absolute;
    top: 11px;
    right: 10px;
    display: flex;
}
.sc-sidenews .navi-wrap .btn-navi{
    background-color: #fff;
    border: 1px solid #e4e8eb;
}

.sc-sidenews .btn-navi.prev {
    margin-right: -1px;
}
.sc-sidenews .btn-navi.prev::after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -408px -63px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 7px 8px 6px;
}
.sc-sidenews .btn-navi.next::after{
    content: '';
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -408px -63px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 7px 8px 6px;
}