@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 상단 */
header {
    height: 100px;
    background: hotpink;
}

main {
    width: 800px;
    margin: 0 auto;
}

/* box1 */
.box1 {
    position: relative;
    display: flex;
    margin: 10px auto;
    gap: 10px;
}

.box1 .slide {
    flex: 1;
    height: 300px;
    background: #ddd;
}

/* btn */
.box1 .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: hotpink;
}
.box1 .btn.prev {
    left: 10px;
}
.box1 .btn.next {
    right: 10px;
}
/* pagination */
.pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.pagination span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    line-height: 30px;
    text-align: center;
    border: 1px solid #999;
}

.pagination .on {
    background: hotpink;
}

/* box2 */
.box2 {
    display: flex;
    padding: 10px;
    background: #ddd;
    gap: 10px;
    margin-bottom: 10px;
}

.box2 .left {
    flex: 1;
    height: 300px;
    background: #999;
}
.box2 .right {
    display: flex;
    gap: 10px;
    flex: 1;
    flex-direction: column;
}

.box2 .right div {
    flex: 1;
    background: #999;
}

/* box3 */
.box3 {
    padding: 10px;
    background: #ddd;
    display: flex;
    justify-content: space-between;
}

.box3 > a {
    line-height: 50px;
}

.box3 .navi {
    display: flex;
    gap: 10px;
}

.box3 .navi a {
    width: 50px;
    height: 50px;
    background: hotpink;
}

/* box4 */
.box4 {
    padding: 10px;
    background: #ddd;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.box4 .left {
    flex: 1;
    display: flex;
    padding: 10px;
    background: #fff;
    gap: 10px;
    flex-direction: column;
}

.box4 .left div {
    background: #999;
    flex: 1;
}

.box4 .right {
    flex: 1;
    display: flex;
    padding: 10px;
    background: #fff;
    gap: 10px;
}
.box4 .right div {
    flex: 1;
    background: #999;
    height: 200px;
}